.tablescroll {
    overflow-y: auto;
    max-height: 400px;
    position: relative;
  }

  .tablescroll table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tablescroll th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; 
    z-index: 1;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
  
  .table thead tr.table-light th {
    background-color: #f8f9fa; 
  }
  
.content{
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

table th{
    font-size: 14px;
    letter-spacing: 1px;
    
}

  .nav-tabs .nav-link.active {
    background-color: #f8f9fa; 
    border-color: #dee2e6 #dee2e6 #f8f9fa; 
    color: #000 !important;
  }
  
.nav-tabs .nav-link:hover{
    background-color: #f8f9fa;
    color: #000 ;
}
  

.dropdown-menu {
    margin-right: 20px;
    display: none;
    position: fixed;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
  }

  .tab-content i{
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
  }

  /* Status badge colors */
.status-badge-green {
  background-color: #e7ffe7 !important;
  color: #69cf69 !important;
}

.status-badge-blue {
  background-color: #e7f0ff !important;
  color: #6999ff !important;
}

.status-badge-yellow {
  background-color: #fffce7 !important;
  color: #ffcf69 !important;
}

.status-badge-red {
  background-color: #ffe7e7 !important;
  color: #ff6969 !important;
}
  
  .dnotepara{
    line-height: 10px;
  }